@font-face {
    font-family: 'montserrat-bold';
    src: url('../../public/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.montserrat{
    font-family: montserrat-bold;
}
