.fondo {  
    background-image: url('/images/fondo.jpg');  
    background-size: cover;  
    /* background-position: center; */
    background-repeat: none;  
    color: white;  
} 

.fondo-header{
    background-color: rgba(0, 0, 0, 0.5);
}

.servicios{
    background-color: rgba(0, 0, 0, 0.5);
}
