---
import Layout from "../layouts/layout.astro";

import team001 from "../../public/images/karina.jpg";
---

<Layout title="Sobre Mi">
  <main>
    <div class="p-5 bg-dark">
      <div class="row justify-content-start">
        <div class="col-12 col-md-3 mb-5">
          <img src={team001.src} class="img-fluid px-5" alt="..." />
        </div>
        <div class="col-12 col-md-8 px-md-5">
          <h3
            class="display-6 display-md-5 fw-bold lh-1 mb-5 p-0 montserrat-bold text-light"
          >
            KARINA DE LA PEÑA
          </h3>
          <ul class="text-light lead">
            <li>2003 Especialista en Docencia Universidad de Holguin Cuba</li>
            <li>2019 Master en Ciencias en Administracion y Negocios USA</li>
            <li>2003 Licenciada en Ciencias Economicas</li>
            <li>2022 Certificado como Paralegal Instituto Las Americas USA</li>
            <li>2022 Certificada como notaria del Estado de Texas</li>
            <li>
              2023 Preparadora de Formas Migratorias Instituto Legal " Las
              Americas" USA
            </li>
            <li>2023 Preparador de Impuestos personales y profesionales USA</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
