---
import Layout from "../layouts/layout.astro";

import team001 from "../../public/images/about_2.png";
---

<Layout title="Sobre Mi">
  <main>
    <div class="p-5 bg-dark">
      <div class="row justify-content-start">
        <div class="col-12 col-md-3 mb-5">
          <img src={team001.src} class="img-fluid px-5" alt="..." />
        </div>
        <div class="col-12 col-md-8 px-md-5">
          <h3
            class="display-6 display-md-5 fw-bold lh-1 mb-5 p-0 montserrat-bold text-light"
          >
            KARINA DE LA PEÑA
          </h3>
          <ul class="text-light lead">
            <li>2002 - Especialista en Servicios de Marketing</li>
            <li>2003 - Especialista en Exportaciones</li>
            <li>
              2003 - Diplomado en Programas de Formación Económica de Desarrollo
              Humano. PNUD.
            </li>
            <li>
              2003 - Licenciada en Ciencias Económicas , Universidad de Holguìn,
              Cuba
            </li>
            <li>
              2003 - Especialista en Docencia, Universidad de Holguín, Cuba
            </li>
            <li>2004 - Inglés Básico Nivel III</li>
            <li>2004 - Especialista en Aplicación del Arte</li>
            <li>2004 - Especialista en Recursos Humanos</li>
            <li>2004 - Especialista en Metodología de la Investigación</li>
            <li>2005 - Especialista en Administraciòn de Empresas</li>
            <li>2005 - Especialista en Microeconomía y Macroeconomía</li>
            <li>2007 - Especialista en Análisis de Estados Financieros</li>
            <li>
              2019 - Maestría en Ciencias de la Administración, Liderazgo y
              Negocios, EE. UU.
            </li>
            <li>
              2022 - Certificado como Paralegal, Instituto Paralegal Las Américas, EE. UU.
            </li>
            <li>2022 - Certificada como notaria del Estado de Texas</li>
            <li>
              2023 - Preparadora de Formas Migratorias, Instituto Paralegal "Las
              Américas", EE. UU.
            </li>
            <li>
              2023 - Preparador de Impuestos Personales y Profesionales, EE. UU.
            </li>
            <li>2023 - Consultor del Mercado de Salud y Financiero</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
