---
import ContactForm from "./ContactForm"
---

<div class="container col-xl-10 col-xxl-8 px-2 px-md-4 py-5" id="contacto">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start px-5" data-aos="zoom-in">
      <h2 class="display-5 montserrat-bold lh-1 mb-3">
        ¡ESTAMOS AQUÍ PARA AYUDARTE!
      </h2>
      <p class="col-lg-10 fs-4 lead">
        En nuestra empresa tu confianza es nuestra prioridad. Si tienes alguna
        pregunta, duda o necesitas orientación, no dudes en contactarnos. Nuestro
        equipo de expertos está listo para brindarte la atención personalizada
        que mereces. Completa el formulario a continuación y nos pondremos en
        contacto contigo lo antes posible.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5" data-aos="zoom-in">
      <ContactForm client:load />
    </div>
  </div>
</div>
