---
import logo from '../../public/images/logo.svg'
---
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container m-3">
      <div class="">
        <a class="navbar-brand" href="#">
          <img src={logo.src} alt="" width="30" height="24" class="d-inline-block align-text-top">
          Bootstrap
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav fs-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Abaut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>          
        </ul>
      </div>
    </div>
</nav>