---
import { ViewTransitions } from "astro:transitions";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import "aos/dist/aos.css";
import "../styles/bootstrap.css";
import "../styles/styles.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Ofrecemos asesoría integral en trámites migratorios, 
              apertura de compañías, y gestión de impuestos personales y corporativos. 
              Nuestros servicios incluyen seguros de vida y médicos, asesoría notarial, 
              certificaciones, traducciones y declaración de impuesto sobre la renta. 
              Estamos comprometido a facilitar tu proceso y asegurarte el cumplimiento 
              legal en cada etapa. ¡Contáctanos para recibir un servicio personalizado 
              y eficaz!"
    />
    <meta
      name="keywords"
      content="Asesoría migratoria, Trámites migratorios, Apertura de compañías, Impuestos personales, Impuestos corporativos, Seguros de vida, Seguros médicos, Servicios notariales, Certificaciones, Traducción de documentos, Impuesto sobre la renta, Consultoría legal, Asesoría fiscal"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <slot />
    <Footer />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script>
      import { aosInit } from "../scripts/aos";
      aosInit();
    </script>
  </body>
</html>
